# Copyright 2022 Jon Seager
# See LICENSE file for licensing details.
ops==2.17.1

# ---PYDEPS---
# lib/charms/tempo_coordinator_k8s/v0/charm_tracing.py
pydantic>=2
opentelemetry-exporter-otlp-proto-http==1.21.0